{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "tabWidth": 4,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
    "semi": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
